
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Заглушка</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/main.css">
        <style>

        </style>
    </head>
    <body>
        <header>
            <!-- <a href="#" id="sess_enter">Ввести сессию</a> -->
            <a href="#" id="log_enter">Войти</a>
            <a href="#" id="reg_enter">Зарегистрироваться</a>
            <div class="sesser none" id="logger"><input type="text" id="log_username"><input type="text" id="log_pass" placeholder="Пароль"><div class="btn" id="sess_ok">Войти</div></div>
            <div class="sesser none" id="regger"><input type="text" id="reg_username" placeholder="Имя"><input type="text" id="reg_pass" placeholder="Пароль"><div class="btn" id="sess_ok">Зарегистрироваться</div></div>
        </header>
        <center>
            <div class="main-container">
                <div class="addable-card card">
                    <form>
                    <input type="text" id="name", name="name", placeholder="Название" required>
                    <br>
                    <input type="text" id="description", name="description", placeholder="Описание" required>
                    <br>
                    <input type="text" id="datetime" placeholder="Когда завершить" required>
                    <br><br>
                    <div class="btn" id="add_task">Добавить задачу</div>
                    </form>
                </div>
                <div id="tasks">
                    {% for task in sess_tasks %}
                        <div class="card" id="task_{{task.id}}">
                            <h4 class="title">{{task.title}}</h4>
                            <div class="descrip">{{task.description}}</div>
                            <label class="when">Дедлайн: {{task.deadline}}</label>
                            <br><br>
                            <div class="btn btn-red">Закрыть задачу</div>
                        </div>
                    {% endfor %}
                </div>
                    
                <h2>Завершённые задачи:</h2>
                <div id="done_tasks">
                    {% for task in sess_done %}
                    <div class="card" id="task_{{task.id}}">
                        <h4 class="title">{{task.title}}</h4>
                        <div class="descrip">{{task.description}}</div>
                        <label class="when">Дедлайн: {{task.deadline}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </center>
    </body>
    <script type="text/javascript" src="/assets/main.js"></script>
</html>